<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>SupFile</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/libraries/fontawesome/fontawesome-all.css">

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-cookies/angular-cookies.js"></script>

    <script src="/routes/ng-routing.js"></script>

    <script src="/public/js/userListController.js"></script>
    <script src="/public/js/userAddController.js"></script>
    <script src="/public/js/downloadController.js"></script>
    <script src="/public/js/uploadController.js"></script>
    <script src="/public/js/mainController.js"></script>
    <script src="/public/js/login/loginController.js"></script>

    <script src="/public/libraries/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/public/libraries/mdl/material.min.css">
    <script src="/public/libraries/mdl/material.min.js"></script>
    <link rel="stylesheet" href="/public/libraries/mdl/icon.css">

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample"
                           id="fixed-header-drawer-exp">
                </div>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Sup File</span>
        <nav class="mdl-navigation">
            <a href="/front/" class="mdl-navigation__link">Page principale</a>
            <a href="/front/files/download" class="mdl-navigation__link">Page de téléchargement</a>
            <a href="/front/files/upload" class="mdl-navigation__link">Page d'upload</a>
            <a href="/front/users/add" class="mdl-navigation__link">Ajouter un utilisateur</a>
            <a href="/front/users/list" class="mdl-navigation__link">Liste des utilisateurs</a>
            <a href="/front/logout" class="mdl-navigation__link">Se déconnecter</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="viewContainer" ng-view></div>
    </main>
</div>
</body>
</html>