<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/public/libraries/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>

    <script src="/routes/ng-routing.js"></script>
    <script src="/public/js/login/loginController.js"></script>

    <script src="/public/libraries/jquery-3.3.1.min.js"></script>
    <script src="/public/libraries/popper.min.js"></script>
    <script src="/public/libraries/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div data-ng-controller="loginController">
    <h4>
        Connectez-vous :.
    </h4>

    <div class="addUserForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" data-ng-model="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" data-ng-model="password" placeholder="Password">
        </div>
        <button class="btn btn-default" data-ng-click="login()">Se connecter</button>
    </div></div>



    <button class="btn btn-default" data-ng-click="logout()">Se déconnecter</button>

</body>
</html>