body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.titleIndex {
    text-align: center;
}

.viewContainer {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    border: 1px solid lightgrey;
}

.theTable .td{
    border : 2px solid darkblue;
}

.indexTitle{
    color : brown;
}
.indexText{
    margin : 5px;
    background-color : #FFDDDD;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align : justify;
}

.addUserTitle{
    color : darkblue;
}
.addUserForm div{
    text-align : center;
}

.typeIcon{
    font-size: 1.5em;
}

.oneNode{
    padding-top : 5px;
    padding-bottom : 5px;
}

.nodeTitle{
    border : 1px solid #FCFCFC;
    cursor : pointer;
}

.nodeTitle:hover{
    color : darkgrey;
    background-color : #FCFCFC;
}

.nodeDownload{
    background-color : #FCFCFC;
}
.nodeUpload{
    background-color : #FCFCFC;
}

.folderBold{
    color : #FF0000;
    cursor : pointer;
}