body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.titleIndex {
    text-align: center;
}

.viewContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.theTable .td{
    border : 2px solid darkblue;
}

.indexTitle{
    color : brown;
}
.indexText{
    margin : 5px;
    background-color : #FFDDDD;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align : justify;
}

.addUserTitle{
    color : darkblue;
}
.addUserForm div{
    text-align : center;
}

.oneNode{
    padding-top : 5px;
    padding-bottom : 5px;
}

.nodeTitle{
    width : 40%;
    cursor : pointer;
    background-color : #EFEFEF !important;

}

.nodeTitle:hover{
    color : darkgrey;
    background-color : #FAFAFA !important;
}

.nodeDownload{
    background-color : #FCFCFC;
}
.nodeUpload{
    background-color : #FCFCFC;
}

.folderBold{
    color : #FF0000;
    cursor : pointer;
}

.icon-little{
    font-size : 0.7em ;
}


.shall-be-centered{
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
}