
<div class="form-group">
    <label for="path">Path:</label>
    <input type="text" class="form-control" id="path" ng-model="path">
</div>
<div class="form-group">
    <label for="path">User Id:</label>
    <input type="text" class="form-control" id="uid" ng-model="id">
</div>
<div class="form-group">
    <input class="btn btn-default" type="file" onchange="angular.element(this).scope().fileLoaded(this)">
    <button class="btn btn-default" ng-click="up()">Up-fucking-load</button>
</div>
