
<div>
    <h4>
        Connectez-vous :
    </h4>

    <div class="addUserForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" data-ng-model="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" data-ng-model="password" placeholder="Password">
        </div>
        <button class="btn btn-default" data-ng-click="login()">Se connecter</button>
    </div></div>

</div>
