<div class="shall-be-centered" style="text-align:center">
    <h3>Bienvenue sur SupFile</h3>

    Supfile est une application web sur laquelle vous pouvez stocker vos fichiers (jussqu'à 30 Gigas)

    <h5>Déposez vos fichiers</h5>
    Naviguez librement dans vos dossier et ficihers comme sur votre ordinateur<br/>
    Téléchargez et déposez vos fichiers librements sur notre système de stockage Cloud.<br/>
    Accedez à vos fichiers depuis n'importe où.


    <h5>Accessible depuis votre mobile</h5>
    Vous pouvez télécharger l'application SupFile sur votre smartphone Android.<br/>
    Depuis votre compte, vous pouvez accéder à tous vos fichiers sur mobile et sur web indépendemment.


    <h4>Depéchez vous de <a href="/anon/register">créer un compte</a> ou <a href="/anon/login">connectez-vous</a> ! </h4>

</div>