
<h4 class="addUserTitle">
    Créer un compte
</h4>

<div class="addUserForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" data-ng-model="name" aria-describedby="emailHelp" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" data-ng-model="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" data-ng-model="password" placeholder="Password">
    </div>

    <button class="btn btn-default" data-ng-click="addUser()">Add the user</button>
</div>